@use 'core' as *;

@include b(form) {
  &.el-form--inline {
    > .x-field {
      margin-right: 0;
    }
  }
  @include when(sticky) {
    position: relative;
    height: 100%;
    overflow: auto;

    @include e(footer) {
      position: sticky;
      bottom: 0;
      width: 100%;
      margin-bottom: 0;
      padding: 10px 0;
      background-color: var(--el-mask-color);
    }
  }
}
